// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 100%;
  height: 100%;
}

#filters, #tools {
  position: absolute;
  bottom: 5px;
  right: 5px;

  padding: 8px;

  background: white;
  opacity: 0.9;

  -webkit-user-select: none;

  box-shadow: 0 0 5px 5px #AAA;

  font-size: 12px;

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 4px;

    cursor: pointer;

    &.suspeita-foco .icon {
      background-color: #9595c9;
    }
    &.foco .icon {
      background-color: #983794;
    }
    &.suspeita-caso .icon {
      background-color: #f8991d;
    }
    &.caso .icon {
      background-color: #cb2027;
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  .icon {
    display: inline-block;
    vertical-align: text-bottom;

    width: 15px;
    height: 15px;

    margin-right: 8px;
  }

  .label {
    display: inline-block;
  }
}

#tools {
  bottom: 5px;
  left: 5px;
  right: auto;

  padding: 1px;

  li {
    display: inline-block;

    .icon {
      margin-right: 0;
    }

    &.selected .icon {
      box-shadow: 0 0 2px 2px #1caab7;
    }

    &.destroy .icon {
      color: red;
      font-weight: bold;
      text-align: center;
      border: 1px solid red;

      width: 13px;
      height: 13px;
    }
  }
}